* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
img {
  width: 100%;
  transition: all 1s;
}
.clr{
  clear:both;
}
body{
  scroll-behavior: smooth;
  overflow: hidden;
}
header .navbar-nav .nav-item {
  padding-left: 25px;
}
header .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: #222;
  font-weight: 500;
  line-height: 40px;
  transition: all 0.5s;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #fa5d2a;
}
header .dropdown {
  position: absolute;
  top: 50px;
  left: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 30px 0;
  width: 150px;
  border-radius: 2px 2px 3px 3px;
  box-shadow: 0 0 2px #00000026;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.5s;
  z-index: 99;
}
header .dropdown li {
  list-style: none;
  display: block;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}
header .dropdown li a {
  color: #4f4f4f;
  text-decoration: none;
  transition: all 0.5s;
}
header .dropdown li:hover a {
  color: #fa5d2a;
}
header .anim:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
header .anim {
  position: relative;
}
header .anim i {
  font-size: 10px;
  position: absolute;
  top: 22px;
  right: -5px;
}
header .cssP {
  border: 0;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
header form i {
  padding-right: 30px;
  font-size: 20px;
  cursor: pointer;
  color: #222;
}
header form button {
  position: relative;
  right: 25px;
}
.eff {
  position: relative;
}
header .effect ~ .focus-border {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}
header .effect:hover ~ .focus-border {
  width: 100%;
  transition: 0.5s;
}
header form .indication {
  position: absolute;
  background-color: #fa5d2a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 13px;
}
header form .heart {
  right: 72px;
}
header form .cart {
  right: 19px;
}
header .responsive-header {
  display: none;
}
.layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 99;
  display: none;
}
.sideBarHeader {
  position: fixed;
  background-color: #fff;
  height: 100%;
  width: 350px;
  left: -350px;
  top: 0;
  z-index: 999;
}
.closeBtnBg {
  background-color: #fa5d2a;
  text-align: center;
  padding: 10px 0;
}
.closeBtn {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.wishList {
  position: fixed;
  right: -350px;
  top: 1px;
  width: 350px;
  height: 100%;
  background-color: #fff;
  z-index: 99;
}
.wishList .cart_header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px;
}
.wishList .title {
  color: #666;
  font-size: 16px;
  padding-left: 30px;
  font-weight: 600;
}
.wishList .close {
  margin-right: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
}
.wishList p{
  font-size: 14px;
  color: #6b6b6b;
  margin-top: 10px;
}
.wishList .close:hover {
  transform: rotate(180deg);
}
.wishlist_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartBody .icon-cart-empty {
  font-size: 30px;
  margin-bottom: 20px;
  background-image: url(../img/cart-empty.svg);
  width: 142px;
  height: 102px;
  opacity: 0.1;
}
.cartBody p{
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 40px;
}
.returnToShop{
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 15px 60px;
  background-color: #fa5d2a;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  transition: 0.5s;
}
.returnToShop:hover{
  background-color: #f94a11;
  color: #fff;
}
.cartFooter{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cartFooter .price{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(51, 51, 51, 0.11);
  padding: 10px 30px;
}
.cartButtons{
  display: flex;
  flex-direction: column;
}
.cartButtons .viewCart,
.cartButtons .checkOut{
  text-decoration: none !important;
  padding: 15px 120px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border-radius: 2px;
  transition: 0.5s;
}
.cartButtons .viewCart{
  color: #222222;
  background-color: #f6f6f6;
  margin-bottom: 10px; 
}
.cartButtons .checkOut{
  color: #fff;
  background-color: #fa5d2a;
}
.cartButtons .viewCart:hover{
  background-color: #f94a11;
  color: #fff;
}
.cartButtons .checkOut:hover{
  background-color: #f94a11;
}
.spend{
  background-color: #555555;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.spend p{
  padding-top: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.sideHeaderBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sideHeaderBody .headerNav{
  position: relative;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #4f4f4f2a;
  transition: 0.5s;
}
.newTag:before{
  content: "new";
  position: absolute;
  text-transform: capitalize;
  text-align: center;
  width: 30px;
  height: 14px;
  top:38%;
  left:65px;
  font-size: 10px;
  color: #fff;
  border-radius: 2px;
  background-color: #5aab19;
}
.accordion-item{
  border: 0 !important;
}
.accordion-button{
 font-family: "Rubik", sans-serif !important;
  text-decoration: none !important;
}
.accordion-button::after {
  background-image: unset;
}

.accordion-button[data-bs-toggle="collapse"] {
  position: relative;
}
.accordion-button[aria-expanded="false"]::before,
.accordion-button[aria-expanded="true"]::before {
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 900;
  display: block;
  position: absolute;
  right: 20px;
  font-size: 12px;
  color: #4f4f4f86 !important;
}
.accordion-button[aria-expanded="true"]::before {
  font-family: "Font Awesome 6 free";
  content: "\f106";
  font-weight: 900;
}
.accordion-button:not(.collapsed)::after {
  background-image: unset !important;
}
.extendedPages{
  list-style: none !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.extendedPages li{
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #4f4f4f2a;
  cursor: pointer;
}
.extendedPages li a{
  text-transform: capitalize;
  color: #222222;
  opacity: 0.8;
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
  transition: 0.5s;
}
.accordion-body {
  padding: 0 !important;
}
.accordion-button:not(.collapsed) {
  color: unset !important;
  background-color: unset !important;
  box-shadow: unset !important;
}
.sideHeaderBody a:hover{
  color: #fa5d2a !important;
  text-decoration: none;
}
.extendedPages li:hover a{
  color: #fa5d2a !important;
  
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
      transition-property: height, visibility;
      transition-duration: .5s;
  }
}
/* end----header */
/* start home page section */
.homePage .backgroundOne{
  background-image: url(../img/homepage.png);
  height:83vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.homePage .backgroundTwo{
  background-image: url(../img/hompage-1.png);
  height:83vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.homePage .owl-carousel .owl-nav button.owl-prev{
position: absolute;
left: 4%;
top: 44%;
color: #fff;
background-color: rgba(255, 255, 255, 0.2);
border-radius: 50%;
padding: 5px 18px !important;
transition: 0.5s;
visibility: hidden;
}
.homePage .owl-carousel .owl-nav button.owl-next{
  position: absolute;
  right: 4%;
  top: 44%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 5px 18px !important;
  transition: 0.5s;
  visibility: hidden;
}
.homePage button.owl-prev span{
  font-size: 25px;
  font-weight: 100;
}
.homePage button.owl-next span{
  font-size: 25px;
  font-weight: 100;
}
.homePage .owl-carousel .owl-nav button.owl-next:hover,
.homePage .owl-carousel .owl-nav button.owl-prev:hover{
  background-color: #fa5d2a;
}
.homePage:hover .owl-carousel .owl-nav button.owl-next,
.homePage:hover .owl-carousel .owl-nav button.owl-prev{
  visibility: visible;
}
.homePage .backgroundOneText{
  position: relative;
  top:250px;
  left: 250px;
  width: fit-content;
}
.backgroundOneText .label,
.backgroundTwoText .label{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  background-color: #fdc801;
  width: fit-content;
  float: right;
  padding: 4px 25px;
  transform:skew(-15deg);
  margin-bottom: 20px;
}
.backgroundOneText .customise,
.backgroundTwoText .customise{
  line-height: 75px;
  overflow: hidden;
}
.owl-item.active  .backgroundOneText .txt1{
  text-transform: uppercase;
  width: fit-content;
  font-size: 70px;
  float: right;
  color: #ffffff;
  opacity: 1;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes slide{
  0%{transform: translateX(-200px);opacity: 0;}
  100%{transform: translateX(0px);opacity: 1;}
}
.owl-item.active  .backgroundOneText .txt2{
  float: right;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
  animation-name: slidetxt2;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes slidetxt2{
  0%{opacity: 0;}
  10%{transform: translateX(-150px);opacity: 0;}
  100%{transform: translateX(0px);opacity: 1;}
}
.owl-item.active .backgroundOneText .customise p{
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: -20px;
  color: #ffffff;
  margin-bottom: 0;
  animation-name: slidetxt2;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.owl-item.active .backgroundOneText .customise .right{
  width: fit-content;
  float: right;
  animation-name: slidetxt2;
  animation-duration: 1s;
  animation-iteration-count: 1;

}
.backgroundOneText .customise a{
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  background-color: #ffffff;
  color: #222222;
  padding: 12px 51px;
  border:2px solid #111111;
  border-radius: 3px 3px;
  font-weight: 500;
  transition: 0.5s;
}
.backgroundOneText .customise a:hover,
.backgroundTwoText .customise a:hover{
  background-color: #fa5d2a !important;
  border: 0;
  color: #fff;
}
.homePage .backgroundTwoText{
  position: relative;
  top:250px;
  left: 250px;
  width: fit-content;
}
.owl-item.active  .backgroundTwoText .txt1{
  text-transform: uppercase;
  width: fit-content;
  font-size: 70px;
  float: right;
  color: #ffffff;
  opacity: 1;
  animation-name: slide2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes slide2{
  0%{transform: translateX(60px);opacity: 0;}
  100%{transform: translateX(0px);opacity: 1;}
}

.owl-item.active  .backgroundTwoText .txt2{
  float: right;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
}
.owl-item.active .backgroundTwoText .txt2{
  animation-name: anim2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction:normal;
  animation-timing-function: linear;

}
@keyframes slidetxt3{
  0%{opacity: 0;transform: translateX(1000px);}
  10%{transform: translateX(900px);opacity: 0;}
  20%{transform: translateX(800px);opacity: 0;}
  30%{transform: translateX(700px);opacity: 0;}
  40%{transform: translateX(600px);opacity: 0;}
  50%{transform: translateX(500px);opacity: 0;}
  60%{transform: translateX(400px);opacity: 0;}
  70%{transform: translateX(300px);opacity: 0;}
  80%{transform: translateX(200px);opacity: 0;}
  90%{transform: translateX(100px); opacity: 0;}
  100%{transform: translateX(0px); opacity: 1;}

}
@keyframes anim2{
  0%{transform: translateX(1000px);}
  10%{transform: translateX(900px);}
  20%{transform: translateX(800px);}
  30%{transform: translateX(700px);}
  40%{transform: translateX(600px);}
  50%{transform: translateX(500px);}
  60%{transform: translateX(400px);}
  70%{transform: translateX(300px);}
  80%{transform: translateX(200px);}
  90%{transform: translateX(100px);}
  100%{transform: translateX(0px);}

}
.owl-item.active .backgroundTwoText .customise p{
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: -20px;
  color: #ffffff;
  margin-bottom: 0;
  animation-name: slidetxt3;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.owl-item.active .backgroundTwoText .customise .right{
  width: fit-content;
  float: right;
  animation-name: slidetxt3;
  animation-duration: 2s;
  animation-iteration-count: 1;

}
.backgroundTwoText .customise a{
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  background-color: #ffffff;
  color: #222222;
  padding: 12px 51px;
  border:2px solid #111111;
  border-radius: 3px 3px;
  font-weight: 500;
  transition: 0.5s;
}
/* end home page section */
/* start new imgcontainer */
.inContainer{
  margin-top: -120px;
  z-index:50;
  position: relative;
  background-color: #fff;
  padding: 30px 30px 22px 30px;
  border-radius: 5px;
}
.inContainer .itemImg{
  position: relative;
}
.inContainer .itemImg img{
  border-radius: 5px;
  cursor: pointer;
}
.inContainer .itemImg::before{
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.425);
  transition:all 1s;
  opacity: 0;
}
.inContainer .itemImg:hover::before{
  opacity: 1;
  top: 50%;
  bottom: 50%;
}
.inContainer .itemImg::after{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.425);
  transition:all 1s;
  opacity: 0;
}
.inContainer .itemImg:hover::after{
  opacity: 1;
  right: 50%;
  left: 50%;
}
/* end new imgcontainer */
/* start products section */
.products .title p{
  font-size: 28px;
}
.products .borderTop{
  border-top: 1px solid rgba(0, 0, 0, 0.226);
}
.products nav ul {
  padding: 0;
  list-style-type: none;
}
.products nav ul li {
    display: inline-block;
    display: inline-block;
    height: 35px;
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.473)!important;
    text-decoration: none;
    text-align: center;
    font: normal 16px/20px "Rubik", sans-serif;
    cursor: pointer;
    margin-left: 41px;
    transition: all .3s ease-in-out;
}
.products nav ul li:hover{
  color: #f94a11 !important;
  border-bottom:2px solid #f94a11 !important;
}

.products nav ul li:first-of-type {
  border-top-left-radius: 5px;
}

.products nav ul li:last-of-type {
  border-top-right-radius: 5px;
}

.products nav ul li.inactive {
    color: #fa5d2a !important;
    border-bottom:2px solid #f94a11;
}
.products .card{
  position: relative;
  transition: all 1s;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.products .card:hover{
  box-shadow: 0px 0px 13px 2px #4f4f4f41;
  border-radius: 10px;
}
.products .card h5{
  font-size: 18px;
  transition: all 1s;
  cursor: pointer;
}
.products .card h5:hover{
  color: #fa5d2a;
}
.products .card p{
  color: rgba(0, 0, 0, 0.596);
  font-size: 18px;
  margin-bottom: 0;
}
.products .card .afterDis{
  color: rgb(173, 36, 36);
}
.products .card .beforeDis{
  color: rgba(0, 0, 0, 0.527);
  padding-left: 10px;
}
.products .card .card-body a{
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  background-color: #fa5d2a;
  padding: 8px 0;
  color: #fff;
  transform: translateY(15px);
  transition: all 0.5s;
  opacity: 0;
}
.products .card:hover .card-body a{
  transform: translateY(0);
  opacity: 1;
}
.products .card .card-body a:hover{
  background-color: #f94a11;
}
.products .card::before{
  position: absolute;
    content: "NEW";
    top: 24px;
    left: 10px;
    width: 40px;
    height: 18px;
    background-color: #5aab19;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
}
.products .card .icons{
  position: absolute;
  top: 15px;
  right:5px;
  display: flex;
  flex-direction: column;
}
.products .card .icons a{
  text-decoration: none;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 8px;
  color: #000;
  transition: all 0.5s;
  transform: translateX(10px);
  opacity: 0;
}
.products .card:hover .icons a{
  transform: translateX(0);
  opacity: 1;
}
.products .card .icons a:hover{
  background-color:#f94a11;
  color: #fff;
}

.BT .owl-carousel .owl-nav button.owl-prev{
  position: absolute;
  left: -2%;
  top: 44%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 50%;
  padding: 5px 18px !important;
  transition: 0.5s;
  visibility: hidden;
  }
  .BT .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -2%;
    top: 44%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 50%;
    padding: 5px 18px !important;
    transition: 0.5s;
    visibility: hidden;
  }
  .BT button.owl-prev span{
    font-size: 25px;
    font-weight: 100;
  }
  .BT button.owl-next span{
    font-size: 25px;
    font-weight: 100;
  }
  .BT .owl-carousel .owl-nav button.owl-next:hover,
  .BT .owl-carousel .owl-nav button.owl-prev:hover{
    background-color: #fa5d2a;
  }
  .BT:hover .owl-carousel .owl-nav button.owl-next,
  .BT:hover .owl-carousel .owl-nav button.owl-prev{
    visibility: visible;
  }
  .products .container .insideTabs:not(:first-of-type) {
    display: none;
}
/* end products section */
/* start gallery section */
.gallery{
  position: relative;
  padding-bottom: 50px;
}
.gallery .padding{
  padding-top: 90px;
}
.gallery::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-color: #eceef2;
  transform: skew(0deg,-3deg);
}
.gallery::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f3f5f6;
  transform: skew(0deg,3deg);
}
.gallery .item{
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.gallery .item a{
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  min-width: 166px;
  line-height: 50px;
  background-color: #fff;
  color: #222;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s;
}
.gallery .menBtn{
  top: 44%;
    left: 26%;
}
.gallery .snBtn{
  top: 44%;
  left: 23%;
}
.gallery .wBtn{
  top: 50%;
  left: 37%;
}
.gallery .kBtn{
  top: 42%;
  left: 24%;
}
.gallery .rBtn{
  top: 50%;
  left: 25%;
}
.gallery a:hover{
  background-color: #f94a11;
  color: #fff;
}
.gallery .item:hover img{
  transform: scale(1.2);
}
/* end gallery section */
/* start loop */
.loop{
  margin-top: 50px;
  width: 100%;
  height: 50px;
  background-color: #f94a11;
  overflow: hidden;
}
.loop .itemsTxt{
  margin: 0 60px;
  overflow: hidden;
  position: relative;
}
.loop p{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 34%;
  animation-name: loop;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loop .itemsTxt p:nth-of-type(2){
  left:60%;
}
.loop .itemsTxt p:nth-of-type(3){
  right:-40%;
}
.loop .itemsTxt p:nth-of-type(4){
  right:-100%;
}
.loop .itemsTxt p:nth-of-type(5){
  right: -155%;
}
@keyframes loop{
0%{transform: translateX(1550px);}
10%{transform: translateX(940px);}
20%{transform: translateX(330px);}
30%{transform: translateX(-280px);}
40%{transform: translateX(-890px);}
50%{transform: translateX(-1500px);}
60%{transform: translateX(-2110px); }
70%{transform: translateX(-2720px);}
80%{transform: translateX(-3330px);}
90%{transform: translateX(-3940px);}
100%{transform: translateX(-4550px);}
}
.loop .itemsTxt:hover p{
  animation-play-state: paused;
}
/* end loop */
/* start "topSelling section */
.topSelling{
  padding: 100px 0;
}
.topSelling h3{
  width: fit-content;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 3px solid #fa5d2a;
}
.topSelling .viewAll{
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.603);
  font-size: 15px;
  transition: all 0.5s;
}
.topSelling .viewAll i{
  margin-left: 10px;
}
.topSelling .viewAll:hover{
  color: #fa5d2a;
}
.topSelling .card{
  width: 200px !important;
}
.topSelling .lineBorder{
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);  
}
/* end "topSelling section */
/* start banner section */
.banner{
  position: relative;
  background-image: url(../img/banner.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .txtContent{
  position: absolute;
  left: 24%;
  top: 20%;
}
.banner h5{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 100px;
}
.banner h1{
  color: #fff;
  font-size: 200px;
  margin-bottom: -22px;
}
.banner h3{
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  margin-left: -42px;
  margin-bottom: 30px;
}
.banner p{
  color: #fff;
  font-size: 18px;
  margin-left: 44px;
  margin-bottom: 80px;
}
.banner a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  margin-left: 102px;
  padding: 13px 56px;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  font-weight: 500;
  transition: all 0.5s;
}
.banner a:hover{
  background-color: #fff;
  color: #000;
}
/* end banner section */
/* strart comments section */
.comments{
  padding: 70px 0;
}
.comments .imgBack{
  background-image: url(../img/bckg.png);
  background-size: cover;
  background-position: center top;
}
.comments .cardComm{
  box-shadow: 0px 0px 8px 1px #4f4f4f17;
  height: 150px;
  padding: 0 20px;
  margin-bottom: 35px;
  background-color: #fff;
}
.comments .profileImg{
  width: 25%;
}
.comments .profileImg img{
  border-radius: 50%;
}
.comments .personal p{
  color: rgba(0, 0, 0, 0.692);
}
.comments .personal p span{
  padding-left: 10px;
  font-size: 15px;
}
.comments .likeimg img{
  height: 100px;
  width: 100px;
}
.comments .vision h3{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: -50px;
}
.comments .vision h3 span{
  color:#fa5d2a;
}
.comments .vision p{
  color: rgba(0, 0, 0, 0.664);
  font-size: 15px;
  line-height: 30px;
}
.comments .vision a{
  text-decoration: none;
  background-color: #fa5d2a;
  width: fit-content;
  padding: 16px 55px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transition: all 1s;
}
.comments .vision a:hover{
  background-color: #f94a11;
}
/* end comments section */
/* start blogsec */
.blogSec{
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #f3f5f6;
}
.blogSec .card h5 {
  font-size: 15px;
}
.blogSec ul{
  margin-bottom: 15px;
}
.blogSec ul li .post{
  color: rgba(0, 0, 0, 0.582);
  font-size: 12px;
}
.blogSec ul li .author{
  color: #f94a11;
  font-size: 12px;
  cursor: pointer;
}
.blogSec ul li .date{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.blogSec ul li:nth-of-type(1){
  margin-bottom: -5px;
}
.blogSec .card-body p{
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  margin-bottom:0 ;
  padding-bottom: 20px;
  color: #4f4f4f; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}
.blogSec .card-body a{
  opacity: 1 !important;
  background-color: transparent !important;
  color: #4f4f4f !important;
  transform: translateY(0) !important;
  padding: 0 !important;
  text-align: left !important;
  text-transform: none !important;
  width: fit-content !important;
}
.blogSec .card-body a:hover{
  color: #fa5d2a !important;
}
.blogSec .card::before {
  content: "RUNNING";
  top: 24px;
  left: 10px;
  width: fit-content !important;
  height: fit-content !important;
  background-color: #fa5d2a !important;
  padding: 3px 10px;
}
.blogSec .card{
  overflow: hidden;
}
.blogSec .card img:hover{
  transform: scale(1.1);
}
/* end blogsec */
/* start signup sec */
.signup{
  padding: 70px 0;
  background-color: rgba(102, 102, 102, 0.13);
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.signup .formContent{
  text-align: center;
}
.signup .IMGCON{
  width: fit-content;
  margin: 35px auto;
}
.signup .formContent h3{
  font-size: 25px !important;
  margin-bottom: 20px;
}
.signup .formContent P{
  font-size: 14px;
  color: #666;
  margin-bottom: 35px;
}
.signup .formContent form {
  position: relative;
}
.signup .formContent form .form-control{
  border: none !important;
  width: 40%;
  margin: 0 auto;
  height: 55px;
}
.signup .formContent form a{
  position: absolute;
  top: 0;
  right: 455px;
  text-decoration: none;
  text-transform: uppercase;
  padding:16px 37px;
  background-color: #fa5d2a;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 1s;
  border-radius: 3px;
}
.signup .formContent form a:hover{
  background-color: #f94a11;
}
/* end signup sec */
/* start photo section */
.photo .ph1{
  position: relative;
  height:fit-content;
  overflow: hidden;
}
.photo .ph1::before{
  position: absolute;
  content: "";
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  background-color: rgba(0, 0, 0, 0.438);
  transition: all 0.5s;
  z-index:0; 
}
.photo .ph1:hover::before{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.photo .ph1 i{
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s;
}
.photo .ph1:hover i{
  opacity: 1;
}
/* end photo sectiom */
/* start footer */
footer{
  padding: 50px 0;
}
footer .footerContent h3{
  font-size: 20px;
  font-weight: 500;
  color: #4f4f4fbe;
  margin-bottom: 20px;
}
footer .footerContent li{
  margin-bottom: 10px;
  cursor: pointer;
  color: #666;
  transition: all 0.5s;
  width: fit-content;
}
footer .footerContent li:hover{
  transform: translateX(10px);
  color: #fa5d2a;
}
footer .contactInfo a{
  text-decoration: none;
  color: #666;
  transition: all 0.5s;
}
footer .contactInfo a:hover{
  color: #fa5d2a;
}
footer  p{
  color: #666;
  margin-top: 15px;
}
footer .footerContent .imgPay{
  padding-top:10px ;
  margin-bottom: 100px;
}
footer .footerContent span{
  font-size: 13px;
  color: #666;
}
footer .borderBottom{
  border-bottom:1px solid rgba(102, 102, 102, 0.212);
  padding-bottom: 50px;
}
footer  span{
  font-size: 15px;
  color: #666;
}
footer .socialIcons span{
  margin-right: 20px;
}
footer .copy a{
  font-size: 15px;
  color: #fa5d2a;
  text-decoration: none;
}
footer .socialIcons .iconsLogo li{
  margin: 0 10px 0 0;
}
footer .iconsLogo{
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .socialIcons .iconsLogo a{
  padding:12px 12px;
  color: #fff;
  border-radius: 5px;
  margin-left: 8px;
  font-size: 15px;
}
footer .iconsLogo:nth-of-type(1) a{
  background-color: #40c1df;
}
footer .iconsLogo li:nth-of-type(2) a{
  background-color: #3c5b9b;
}
footer .iconsLogo li:nth-of-type(3) a{
  background-color: #c72982;
}
footer .iconsLogo li:nth-of-type(4) a{
  background-color: #c619b8;
}
footer .iconsLogo li:nth-of-type(5) a{
  background-color: #ff0e00;
}
/* end footer */
/* start scroller */
.scroller{
  position: fixed;
  bottom:5%;
  right: 2%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #f94a11;
  text-align: center;
  visibility:hidden ;
  cursor: pointer;
}
.scroller i{
  margin-top: 33%;
  transition: all 0.5s;
  opacity: 0;
}
.scroller:hover i{
  opacity: 1;
}
/* end scroller */
/* start contact */
.contactHome{
  background-image: url(../img/cont.jpg);
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactHome h1{
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}
.contactHome .breadcrumb{
  background-color: transparent !important;
}
.contactHome .breadcrumb a{
  text-decoration: none;
  color: #999;
  transition: all 0.5s;
}
.contactHome .breadcrumb a:hover{
  color: #222222;
}
.contactHome .breadcrumb li:nth-of-type(2){
  color: #fff;
}
.breadcrumb-item+.breadcrumb-item::before {
  color: #fff;
}
.contInput{
  padding: 70px 0;
  background-color:#f2f2f2;
}
.contInput .place i{
  font-size: 60px;
  color: #fa5d2a;
}
.contInput .place h1{
  font-size: 20px;
  font-weight: 500;
}
.contInput span{
  color: #666;
}
.contInput .inputSpace h1{
  font-size: 18px;
  font-weight: 500;
}
.contInput .inputSpace button{
  background-color: #fa5d2a;
  padding: 12px 0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  font-size: 13px;
  transition: all 0.5s;
}
.contInput .inputSpace button:hover{
  background-color: #f94a11;
}
.contInput .inputSpace input{
  height:45px;
}
/* end contact */
/* start about */
.aboutHome{
  background-image: url(../img/aboutus.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}
.aboutHome::before{
  content: "";
  position: absolute;
  background-color:rgba(255, 255, 255, 0.068);
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  z-index: 0;
  transition: all 0.5s;
}
.aboutHome::after{
  content: "";
  position: absolute;
  background-color:rgba(255, 255, 255, 0.068);
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
  z-index: 0;
  transition: all 0.5s;
}
.aboutHome:hover::before{
  top:0;
  bottom: 0;
}
.aboutHome:hover::after{
  left:0;
  right: 0;
}
.aboutHome .container{
  z-index: 1;
}
.aboutHome .aboutContent h1{
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.aboutHome .aboutContent p{
  color: #fff;
  margin-bottom: 80px;
}
.aboutHome .aboutContent a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 18px 50px;
  border-radius: 3px;
  background-color: #fa5d2a;
  color: #fff;
  transition: all 0.5s;
}
.aboutHome .aboutContent a:hover{
  background-color: #f94a11;
}
.onlineStore{
  padding: 150px 0;
}
.onlineStore p:nth-of-type(1){
  color: #fa5d2a;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
}
.onlineStore h1 span{
  font-weight: 400;
}
.onlineStore h1{
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 30px;
}
.onlineStore p:nth-of-type(2){
  font-size: 18px;
  margin-bottom: 30px;
}
.onlineStore .txtC .txt{
  color: rgb(102, 102, 102);
  
}
/* end about */
/* start customers */
.customers{
  padding: 100px 0;
  background-color: #f6f7f9;
}
.customers .headTxt h4{
  font-size: 15px;
  font-weight: 500;
  color: #fa5d2a;
  margin-bottom: 20px;
}
.customers .headTxt h1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.customers .headTxt p{
  color:#666;
  font-size: 13px;
}
.customers .cardHead h1{
  font-size: 70px;
  opacity: 0.1;
}
.customers .cardHead{
  margin-bottom: 15px;
}
.customers .cardFoot h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.customers .cardFoot p{
  font-size: 15px;
  opacity: 0.7;
  line-height: 1.7;
}
/* end customers */
/* start creative */
.creative .cardDetail .cardHead{
  overflow: hidden;
  border-radius: 10px;
}
.creative .cardDetail img:hover{
  transform: scale(1.1);
}
.creative .cardFoot{
  margin-top: 35px;
}
.creative .cardFoot h1{
  position: relative;
  padding-left: 35px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.creative .cardFoot h1::before{
  content: "";
  width: 24px;
  height: 33px;
  background-image: url(../img/st.svg) ;
  color: #fa5d2a !important;
  display: block;
  position: absolute;
  left: 0;
  bottom: 3px;
}
/* end creative */
/* loading */
#loading{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}
.insideTabs{
  position: relative;
}
#loadtab1,
#loadtab2,
#loadtab3,
#loadtab4{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
}
.sk-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fa5d2a;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* dispaly cart */
.newshow{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.562);
}
.newshow .imagenew{
  width: 100px;
  height: 100px;
}
.newshow h5{
  font-size: 15px;
  margin-left: 20px;
}
.newshow span{
  font-size: 15px;
  margin-right: 30px;
}
.newshow i{
  cursor: pointer;
  margin-right: 15px;
}


















/* Media Query */
@media (max-width: 1024px) {
  header .responsive-header {
    display: inline-block;
    color: #000;
    font-size: 21px;
  }
  .homePage .backgroundOne,
  .homePage .backgroundTwo {
    height: 56vh;
}
.backgroundTwoText,
.backgroundOneText {
  top: 52px !important;
  left: 69px !important;
}
.owl-item.active .backgroundOneText .txt2,
.owl-item.active .backgroundTwoText .txt2{
  font-size: 30px;
}
.owl-item.active .backgroundOneText .txt1,
.owl-item.active .backgroundTwoText .txt1{
  font-size: 34px;
}
.owl-item.active .backgroundOneText .customise p,
.owl-item.active .backgroundTwoText .customise p{
  font-size: 14px;
}
.backgroundOneText .customise a,
.backgroundTwoText .customise a {
  padding: 17px 21px;
}
@keyframes slide{
  0%{transform: translateX(-70px);opacity: 0;}
  100%{transform: translateX(0px);opacity: 1;}
}
@keyframes slidetxt2{
  0%{opacity: 0;}
  10%{transform: translateX(-70px);opacity: 0;}
  100%{transform: translateX(0px);opacity: 1;}
}
.products nav ul {
  margin-left: 0px;
}
.products .card h5 {
  font-size: 15px;
}
.products .card{
  width: 180px !important;
}
.banner .txtContent {
  left: 34%;
}
.comments .profileImg {
  width: 8%;
}
.comments .cardComm {
  padding: 0 67px;
}
.comments .cardComm {
  width: 800px !important;
}
.firstCom{
  align-items: center;
}
.comments .vision p {
  margin-top: 74px;
}
.signup .formContent form a {
  right: 300px;
}
.scroller i {
  opacity: 1;
}
.backgroundOneText .customise, 
.backgroundTwoText .customise {
  line-height: 57px;
}
}
@media (max-width:768px){
  .comments .cardComm {
    width: 626px !important;
  }
  .comments .profileImg {
    width: 32%;
}
.backgroundTwoText .customise {
  line-height: 54px;
}
.backgroundOneText .customise, .backgroundTwoText .customise {
line-height: 54px;
}
.signup .formContent form a {
  right: 145px;
}
}
@media(max-width:600px){
  .backgroundTwoText .customise {
    line-height: 54px;
}
.backgroundOneText .customise, .backgroundTwoText .customise {
  line-height: 54px;
}
.banner {
  display: none;
}
.comments .cardComm {
  width: 482px !important;
}
.comments .profileImg {
  width: 29%;
}
.signup .formContent form a {
  right: 19px;
}
}
